/*--------------------------------GENERAL-----------------------------------------*/

/*---------GENERAL FONTS----------------*/
html {
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: 000000;
    font-weight: 100;
    font-size: 1.12rem;
    line-height: 1.4rem;
}

h1 {
    font-size: 4rem;
    font-weight:100;
    color: #ffffff;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0 20px 0; 
}

/*---------GENERAL SETTINGS----------------*/

hr.break {
    width: 100%;
    height: 1px;
    margin: 35px 0;
    background-color: #696868;
}

div#body-margin {
    margin: 60px 90px;
}

/*-----------------------------------HEADER-------------------------------------------*/

header h1.title1 {
    background-image: url("/images/apple-pie.jpg");
    background-size: cover;
    background-position: top center;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

/*------------------------------INTRODUCTION BLOC--------------------------------------*/

section.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.introduction p {
    text-align: center;
}

div.info-image {
    display: flex;
    justify-content: center;
}

div.info-image img {
    width: 350px;
    padding: 20px 0 0;
}


/*------------------------------INGREDIENTS BLOC--------------------------------------*/
section#ingredients h3{
    text-align: left;
}
section#ingredients ul.ingredients-list {
    text-align: left;
    padding-left: 20px;
}
section#ingredients ul.ingredients-list li::before {
	content: "- ";	
}

/*-------------------------------DIRECTIONS BLOC----------------------------------------*/
section#directions h3{
    text-align: left;
}

section#directions ol.directions-list {
    padding-left: 20px;
}

section#directions ol.directions-list li {
	counter-increment: contador1;
}

section#directions ol.directions-list li::before {
    content: counter(contador1) ") "
}


/*----------- ALTERNATIVE PATHS---------------- 
PARTING LINE
section {
    border-top: 2px solid grey;
}

#ingredients h3{
    text-align: left;
    margin-top: 50px;
}

#directions h3{
    text-align: left;
    margin-top: 50px;
}

- CENTER THE IMAGE
.info-image2 {
    margin: 0 auto 0 auto;
    width: 25%;
}--*/